PAYSWITCH_MOMO_API_ENV=test
PAYSWITCH_MOMO_API_USER=
PAYSWITCH_MOMO_API_KEY=
PAYSWITCH_MOMO_API_MERCHANT_ID=
PAYSWITCH_MOMO_API_PROCESSING_CODE="000200"
PAYSWITCH_MOMO_API_DESCRIPTION="At least 10 characters"

PAYSWITCH_MOMO_LOG_ENABLED=true
PAYSWITCH_MOMO_LOCAL_LOG_ENABLED=true

TEST_PHONE=
TEST_PHONE_NETWORK=
TEST_TRANSACTION_ID=